type <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>Regex Project 1</h1> 
   <form method="post">
    <p>Please enter your textstring</p>
    <input type="text" name="test_string" minlength="3" size="80" required>
    <p>Please enter your regex expression</p>
    <input type="text" name="regex_string" minlength="3" size="80" required>
    <button type="submit">Submit</button>  
</form>
</body>
</html>