<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        
        {% endblock %}
    </title>
</head>
<br><br><br><br><br><br><br><br>
<body bgcolor="lightgreen">
    <h3>Jump to below pages</h3>
    <nav>
        <b><a href="{{ url_for('home_func') }}">Home</a></b>&nbsp;&nbsp;&nbsp;&nbsp;
        <b><a href="{{ url_for('login_func') }}">Login</a></b>&nbsp;&nbsp;&nbsp;&nbsp;
        <b><a href="{{ url_for('logout_func') }}">Logout</a></b>&nbsp;&nbsp;&nbsp;&nbsp;
        <b><a href="{{ url_for('note_func') }}">Note App</a></b>&nbsp;&nbsp;&nbsp;&nbsp;
    </nav>
    {% block body %}

    {% endblock %}
</body>
</html>